@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Quicksand:wght@300;400;500&display=swap');

/* primary: {
  main: "#009E9E",
  light: "#56D0CF",
  dark: "#006F70"
},
secondary: {
  main: "#FF7F56",
  light: "#FFB084",
  dark: "#C74F2B"
}, */

*:focus {
  outline: 1px solid #009E9E;
}

.login-pf body {
  background: url("../img/background-4k.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  min-height: 100vh;
  font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Oswald', sans-serif;
  font-weight: 800;
}

#kc-header-wrapper,
#kc-header-wrapper a {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-weight: 800;
  letter-spacing: normal;
  padding: 0;
  text-align: left;
  padding-left: 24px;
}

div.kc-logo-text {
  height: 63px;
  width: 300px;
  margin: 0 auto;
}

h1#kc-page-title {
  font-size: 32px;
}

.pf-c-form__label-text {
  font-weight: 700
}

.pf-c-form-control {
  border-bottom: 2px solid transparent;
  transition: border-color 0.2s ease-out;
}

.pf-c-form-control:hover, .pf-c-form-control:focus {
  border-bottom-color: #FF7F56;
}

.show-details {
  display: none;
  position: absolute;
  width: 400px;
  height: 100px;
}

#show-details {
  color:rgba(255, 255, 255, 0.5);
}

#username {
  font-size: 16px;
  font-weight: 200;
}

.details-container {
  width: 400px;
  height: 120px;
  background: transparent;
  padding: 10px;
}

.details-container:hover .show-details{
  display: block;
}

.card-pf {
  margin-top: 60px;
  background: transparent;
  box-shadow: none;
  color: #fff;
  border: 0;
}

.pf-c-form-control:not(textarea) {
  height: 46px;
}

.pf-c-button.pf-m-primary.pf-m-block.btn-lg {
  font-size: 16px;
  height: 46px;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #fff;
  transition: background-color 0.2s ease-out;
}

.pf-c-button.pf-m-primary.pf-m-block.btn-lg:hover {
  background-color: #009E9E
}

.pf-c-button.pf-m-primary.pf-m-block.btn-lg:active {
  background-color: #1d1d1d
}

.required {
  color: #fd7b7b;
}

.login-pf-page-header {
  margin-bottom: 0
}

#kc-form-login {
  position: "relative"
}

.login-pf-page .card-pf p {
  color: #fff;
}

.description {
  display: block;
  text-align: center;
  margin: 24px; 
}

.description p {
  font-size: 16px;
  color: #fff;
}

.login-pf-page .login-pf-signup {
  font-size: 16px;
  color: #ffffff;
}

#kc-info-wrapper {
  font-size: 16px;
  padding: 15px 35px;
  background-color: transparent;
}

.login-pf-page .login-pf-signup a {
  margin: 0;
  display: flex;
  color: #fff;
  text-decoration: none;
  height: 46px;
  text-transform: uppercase;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease-out;
}

.partner-logos {
  padding: 32px;
  grid-gap: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.partner-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.eu-logos {
  background: #fff;
  display: flex;
  padding: 32px;
  justify-content: space-evenly;
  align-items: center;
}

.eu-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
}

.partner-logo img {
  max-height: 120px;
}
.eu-logo img {
  max-height: 120px;
}

@media only screen and (max-width: 767px) {

  #kc-header-wrapper {
    font-size: 24px;
  }

  h1#kc-page-title {
    font-size: 24px;
  }

  .partner-logos {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .partner-logo img {
    max-height: 80px;
  }

  .eu-logos {
    padding: 16px;
  }

  .eu-logo img {
    max-height: 80px;
  }
}